/* GENERAL STUFF */
:root{
  --background1: #430a0c;
  --background2: #1a1a1a;
  --background3: #324e39;
  --light: #eeeeee; 
  --dark: #050505; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.darkClickButton {
  background-color: var(--light) !important;
  color: var(--dark) !important;
}

.darkClickButton:hover {
  background-color: #D32027 !important;
  cursor: pointer;
}

.darkClickButton:active {
  background-color: var(--background4) !important;
  color: var(--dark) !important;
}

/* JOIN SCREEN */
.joinScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.joinScreenTopThird {
  background-color: var(--background1);
  width: 100%;
  height: 33.33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding-bottom: 9%;
}

.joinScreenmiddleThird {
  background-color: var(--background2);
  width: 100%;
  height: 33.33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.joinScreenModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stackItUpLogoContainer {
  animation: appLogoFallingIntro 0.5s ease-out;
}

.stackItUpLogo {
  width: 900px;
  height: 900px;
  z-index: 5;
  filter: drop-shadow(5px 5px 5px var(--dark));
}

.joinScreenUserOptionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 12;
  background-image: linear-gradient(var(--background1), var(--background2), var(--background3));
  padding: 1%;
  border-radius: 12px;
  height: 85vh;
  filter: drop-shadow(0px 0px 4px var(--dark));
}

.settingsIcon {
  color: white;
}

.joinScreenBigText {
  font-size: 24px;
  font-weight: bold;
  color: var(--light);
  margin-bottom: -1%;
}

.joinScreenPic {
  width: 200px;
  height: 200px;
}

.joinScreenUsernameLabel {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 3%;
}

.joinScreenBottomThird {
  background-color: var(--background3);
  color: var(--light);
  width: 100%;
  height: 33.33vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
  padding-top: 9%;
}

.optionsButton { z-index: 6; }

.twitter { display: flex; }

.twitterPic {
  margin-top: -0.75%;
  width: 25px;
  height: 25px;
}

.flag {
  position: absolute;
  left: 84.5%;
  top: 97.5%;
}

/* LOBBY SCREEN */
.lobbyScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background2);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.lobbyScreenTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobbyTopLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.lobbyJoinGameText {
  color: var(--light);
  user-select: none;
}

.lobbyGameCodeText {
  font-weight: bolder;
  font-size: 60px;
  color: var(--light);
  filter: drop-shadow(3px 3px 0px var(--background3));
  margin-top: -3%;
}

.stackItUpLogo2 {
  width: 500px;
  filter: drop-shadow(5px 5px 5px var(--dark));
  animation: appLogoPopUp 0.5s ease-out;
}

.lobbyScreenTitleLogo {
  font-size: 120px;
  color: var(--light);
  font-style: italic;
  font-weight: bolder;
  filter: drop-shadow(5px 5px 0px var(--background3));
}

.lobbyTopRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
}

#songNumberInput {
  margin-right: 4%;
}

.enablePrompts {
  background-color: var(--light) !important;
  padding: 2%;
  border-radius: 4px;
}

.lobbyScreenBottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

/* PLAYER ICON */
.playerIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  filter: drop-shadow(0px 0px 2px var(--dark));
}

.playerIconRising {
  animation: iconRise 0.15s ease-out 1;
  animation-fill-mode: forwards;
  filter: drop-shadow(0px 0px 20px var(--dark));
}

.playerIconFalling {
  animation: iconFall 0.15s ease-in 1;
  animation-fill-mode: forwards;
  filter: drop-shadow(0px 0px 2px var(--dark));
}

.playerIconName {
  font-size: 150%;
  width: 125px;
  text-align: center;
  overflow: hidden;
  color: var(--light);
  filter: drop-shadow(1px 1px 0px var(--dark));
  user-select: none;
}

.playerIconPicture {
  width: 125px;
  height: 125px;
  user-select: none;
}

/* GAME SCREEN */
.gameScreen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(var(--background1), var(--background2));
  height: 100vh;
}

.gameScreenLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameScreenRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameScreenJoinMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.gameScreenBottomButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4%;
  width: 40vw;
}

.draggableBoxBackground {
  width: 40vw;
  height: 65vh;
  padding: 1%;
}

.rankYourFriends {
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  user-select: none;
  color: var(--light);
  margin-bottom: -2%;
}

.draggableItem {
  font-size: 18px;
  font-weight: bold;
  user-select: none;
  filter: drop-shadow(3px 3px 3px var(--background1));
  color: var(--background1);
}

.gameScreenDivider {
  width: 35%;
  background-color: var(--background1) !important;
}

.gameScreenDragContainer {
  display: flex;
  padding: 5%;
}

.gameScreenTop3Text {
  position: absolute;
  left: 48.25%;
  top: 13.5%;
  flex-direction: column;
  font-size: 36px;
  font-weight: bolder;
  margin-top: 1%;
  color: var(--light);
  user-select: none;
  text-align: right;
}

.gameJoinGameText {
  user-select: none;
  color: var(--light);
}

.gameGameCodeText {
  font-weight: bolder;
  font-size: 50px;
  color: var(--light);
  filter: drop-shadow(3px 3px 0px var(--background3));
  margin-top: -15%;
}

.gameScreenQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light);
  padding: 6%;
  user-select: none;
  text-align: center;
  width: 35vw;
}

.gameScreenFormat {
  font-size: 36px;
  filter: drop-shadow(3px 3px 0px var(--background3));
  margin-bottom: 0%;
}

.gameScreenQuestionText {
  font-size: 75px;
}

.timeRemaining {
  font-size: 90px;
  filter: drop-shadow(3px 3px 0px var(--background1));
}

/* RESULTS SCREENS */
.individualResultsScreen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.resultsScreenLeftI, .resultsScreenMiddleI, .resultsScreenRightI {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.resultsScreenLeftI { 
  width: 37.5vw;
  user-select: none;
  background-color: var(--background1);
}

.resultsScreenMiddleI {
  width: 25vw;
  background-color: var(--background2);
}

.resultsScreenRightI { 
  width: 37.5vw;
  background-color: var(--background3);
}

.resultsScreenBigText {
  font-size: 48px;
  font-weight: bold;
  color: var(--light);
}

.resultsScreenSmallText {
  font-size: 24px;
  margin-bottom: 8%;
  color: var(--light);
}

.resultsScreenTopChoice {
  font-size: 24px;
  padding: 4%;
  margin: 0 0 11px 0;
  width: 25vw;
  align-items: center;
  vertical-align: middle;
  font-weight: bold;
  filter: drop-shadow(5px 5px 3px var(--dark));
  border-radius: 5px;
}

.topChoiceText {
  margin-left: 2%;
}

.resultsScreenVerticalDivider {
  height: 35vh;
  width: 2px;
  background-color: var(--light);
  margin: 10%;
}

.groupResultsScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.groupResultsScreenTop, .groupResultsScreenMiddle, .groupResultsScreenBottom {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.groupResultsScreenTop {
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background1);
}

.groupResultsScreenMiddle {
  height: 60vh;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 2%;
  background-image: linear-gradient(to right, var(--background2), var(--dark));
}

.groupResultsScreenBottom {
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background3);
}

.howDidYouStackUp {
  font-size: 72px;
  font-weight: bold;
  color: var(--light);
}

.playerRankOrScore {
  color: var(--light);
  text-align: center;
  font-size: 32px;
}

.playerInfoContainer {
  user-select: none;
}

/* ANIMATIONS */
@keyframes appLogoFallingIntro {
  0% {
    transform: translateY(-900px);
  }
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes appLogoPopUp {
  0% {
    transform: translateY(900px);
  }
  33% {
    transform: translateY(50px);
  }
  66% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes iconRise {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

@keyframes iconFall {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
