:root{
  --background1: #160f29;
  --background2: #246a73;
  --background3: #368f8b;
  --background4: #f3dfc1;
  --background5: #ddbea8;
  --light: #eeeeee; 
  --dark: #101a1e; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* JOIN SCREEN */
.joinScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinScreenTopThird {
  background-color: var(--background1);
  width: 100%;
  height: 33.33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.joinScreenTitleLogo {
  font-size: 120px;
  color: var(--light);
  font-style: italic;
  font-weight: bolder;
  filter: drop-shadow(5px 5px 0px var(--background2));
  animation: appLogoWaveIntro 1.5s linear;
}

.joinScreenmiddleThird {
  background-color: var(--background2);
  width: 100%;
  height: 33.33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.joinScreenPlayButton {
  background-color: var(--background1) !important;
  color: var(--light) !important;
}

.joinScreenPlayButton:hover {
  background-color: var(--background3) !important;
}

.joinScreenPlayButton:active {
  background-color: var(--background4) !important;
  color: var(--dark) !important;
}

.joinScreenModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinScreenUserOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinScreenUsernameLabel {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 3%;
}

.joinScreenBottomThird {
  background-color: var(--background3);
  width: 100%;
  height: 33.33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/* LOBBY SCREEN */
.lobbyScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(var(--background1), var(--background3));
  width: 100%;
  height: 100vh;
}

.lobbyScreenTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.lobbyJoinGameText {
  color: var(--light);
}

.lobbyGameCodeText {
  font-weight: bolder;
  font-size: 60px;
  color: var(--light);
  filter: drop-shadow(3px 3px 0px var(--background3));
  margin-top: -15%;
}

.lobbyScreenMiddle {
  margin-top: -5%;
}

.lobbyScreenTitleLogo {
  font-size: 150px;
  color: var(--light);
  font-style: italic;
  font-weight: bolder;
  filter: drop-shadow(5px 5px 0px var(--background3));
}

.lobbyScreenBottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

/* PLAYER ICON */
.playerIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 1%;
  filter: drop-shadow(0px 0px 20px var(--dark));
}

.playerIconName {
  font-size: 22px;
  width: 150px;
  text-anchor: middle;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--light);
  filter: drop-shadow(1px 1px 0px var(--dark));
}

.playerIconPicture {
  width: 150px;
  height: 150px;
}

/* ANIMATIONS */
@keyframes appLogoWaveIntro {
  0% {
    transform: scaleY(0.1);
  }
  30% {
    transform: scaleY(1.3);
  }
  60% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1.0);
  }
}
